.round {
  position: relative;
}

.round label {
  background-color: transparent;
  border: 2px solid var(--blue-300);
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label:hover {
  border: 2px solid var(--blue-500);
  background-color: rgba(30, 111, 159, 0.5);
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 4px;
  transform: rotate(-45deg);
  width: 8px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:hover {
  border: 2px solid var(--purple-500);
}

.round input[type="checkbox"]:checked + label {
  background-color: var(--purple-500);
  border-color: var(--purple-500);
}

.round input[type="checkbox"]:checked:hover + label {
  background-color: var(--purple-300);
  border-color: var(--purple-300);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.container {
  margin: 0 auto;
}
