.wrapper {
  display: flex;
  gap: 0.5rem;
  width: 46rem;
  margin-top: -1.7rem;
}

.wrapper input {
  height: 3.4rem;
  color: var(--gray-100);
  border-radius: 8px;
  padding-left: 1rem;
  width: 100%;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
}

.wrapper input:focus {
  border: 1px solid var(--purple-300);
  box-shadow: none;
}


.wrapper button {
  background: var(--blue-500);
  cursor: pointer;

  height: 3.4rem;
  color: var(--gray-100);
  width: 5.6rem;

  border: 0;
  border-radius: 8px;
  display: flex;
  transition: color 0.1s;
  justify-content: center;
  gap: 0.5rem;
  align-items:center;
}

.wrapper button:hover {
  background: var(--blue-300);
}
